/* Estilos */

body {
    background: url(../img/fundo.jpg);
    background-size: cover;
}

footer {
    text-align: center;
    color: #FFF;
    font-family: calibri;
    text-shadow: 0px 0px 7px #132b43;
}

form {
    width: 34%;
    min-height: 205px;
    background: #1C2D3E;
    border: none;
    display: block;
    padding: 34px 0;
    margin: 34px auto;
    box-shadow: 0px 0px 10px #3D5975;
}

#login form img {
    width: 79%;
    display: block;
    margin: 7px auto 25px;
    left: 0;
}

#login input {
    width: 79%;
    display: block;
    margin: 10px auto;
    height: 70px;
    border: none;
    padding: 0 16px;
    color: #777;
    font-size: 18px;
    font-family: calibri;
    background: #0D151E;
    text-align: center;
}

#login input[type="submit"] {
    background: #274766;
    color: #FFF;
    border: none;
    margin-bottom: 43px;
    cursor: pointer;
}

#login input[type="submit"]:hover {
    background: #446a90;
}

main img {
    display: inline-block;
    margin: 34px auto;
    width: 304px;
    vertical-align: middle;
    margin-left: -152px;
    position: relative;
    left: 50%;
}

main nav {
    width: 80%;
    min-width: 1100px;
    max-width: 1420px;
    text-align: center;
    margin: 52px auto;
}

main nav a {
    background: #FFF;
    opacity: 0.79;
    width: 232px;
    height: 232px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin: 8px;
    color: #222;
    font-size: 20px;
    font-family: calibri;
    transition: all 0.43s;
    -moz-transition: all 0.43s;
    -o-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

main nav a:hover {
    opacity: 1;
    box-shadow: 0px 0px 7px #49D;
}


nav a .imagem {
    width: 160px;
    height: 160px;
    display: block;
    margin: 20px auto 12px;
    border-radius: 100%;
    background: #333 url(../img/tempo.jpg);
    background-size: cover;    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}



nav a:hover .imagem {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}


a#logout {
    display: inline-block;
    width: 100px;
    padding: 16px 0;
    text-align: center;
    background: rgba(255,255,255,0.52);
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-family: calibri;
    transition: all 0.43s;
    -moz-transition: all 0.43s;
    -o-transition: all 0.43s;
    -webkit-transition: all 0.43s;
    position: relative;
    margin-left: 68%;
}

a#logout:hover {
    background: rgba(255,255,255,0.88);
}

a#alterarSenha {
    width: 43px;
    height: 43px;
    background: url(../img/cadeado.png);
    background-size: cover;
    display: block;
    margin: 16px auto;
    cursor: pointer;
    opacity: 0.52;
    transition: all 0.43s;
    -moz-transition: all 0.43s;
    -o-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

a#alterarSenha:hover {
    opacity: 1;
}

div#sombraBranca {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255,255,255,0.52);
    z-index: 9998;
    display: none;
}

form#formNovaSenha {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 430px;
    height: 320px;
    margin-top: -160px;
    margin-left: -214px;
    padding: 0;
    display: none;
    z-index: 9999;
}

h5 {
    font-family: calibri;
    color: #FFF;
    background: #548fda;
    padding: 12px 0;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    margin-top: 0;
}

#formNovaSenha input {
    display: block;
    margin: 7px auto;
    height: 40px;
    width: 80%;
    padding: 0 12px;
    border: #CCC 1px solid;
}


#formNovaSenha input[type="submit"] {
    background: #777;
    color: #FFF;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.43s;
    -moz-transition: all 0.43s;
    -o-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

#formNovaSenha input[type="submit"]:hover {
    background: #548fda;
}

div#erro {
    width: 50%;
    left: 25%;
    position: fixed;
    background: rgba(170,85,68,0.79);
    top: 50%;
    z-index: 9999;
    color: #FFF;
    text-align: center;
    padding: 25px 0;
    font-size: 20px;
    font-family: calibri;
    margin-top: -39px;
    border: 2px solid rgba(160,79,61,1);
}

div#erro.sucesso {
    background: rgba(92, 134, 55, 0.85);
    border: 2px solid rgba(79, 124, 43, 1);
}

p.erroLogin {
    display: block;
    width: 60%;
    margin: 0 auto;
    background: rgba(160, 59, 43, 0.79);
    text-align: center;
    color: #FFF;
    margin-top: -25px;
    padding: 10px 0;
    font-family: calibri;
}