/* Folha de Estilos Padrão */

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    background: #EEE url(../img/fundoConteudo.jpg) center top;
    color: #434343;
    font-family: calibri;
    background-position: 0 -385px;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

main {
    width: 100%;
    margin: 16px 0 4px;
    padding: 25px 0 106px;
    background: #FFF;
}

header {
    height: 205px;
    z-index: 99;
    position: relative;
}



footer {
    text-align: center;
    margin: 0px;
    color: #434343;
    background: #FFF;
    padding: 16px 0;
}

img#logoInterno {
    display: inline-block;
    padding: 23px 34px;
    height: 60px;
    background: url(../img/fundoTopoInterno.jpg);
}

a#profile2 {
    display: inline-block;
    float: right;
    height: 106px;
    background: url(../img/profile.jpg);
    width: 106px;
    background-size: cover;
    box-sizing: border-box;
    border-bottom: 3px solid #4ba44a;
}

main {
    text-align: center;
    min-height: 250px;
    display: block;
}

h1 {
    color: #FFF;
    font-family: "Champagne";
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    margin: -34px 0 61px;
}

a#iniciar {
    color: #FFF;
    font-family: "Champagne";
    padding: 40px 43px;
    display: inline-block;
    background: url(../img/fundoBotaoVerde.jpg);
    font-size: 26px;
    margin: 0;
    letter-spacing: 1px;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
    vertical-align: top;
}


a#iniciar:hover {
    animation: botaoIniciar 1.2s infinite;
    background: url(../img/fundoBotaoVerde2.jpg);
}

a#apps {
    color: #FFF;
    font-family: "Champagne";
    padding: 16px 43px;
    display: inline-block;
    background: #1C2D3E;
    font-size: 22px;
    margin: 16px 7px;
    letter-spacing: 1px;
}


a#apps:hover {
    animation: botaoApps 1.2s infinite;
}

#formBusca {
    display: none;
}

#formBusca input[type="text"] {
    height: 130px;
    width: 60%;
    position: fixed;
    padding: 0 3%;
    top: 50%;
    left: 20%;
    margin-top: -65px;
    background: #000;
    border: none;
    box-shadow: 0px 0px 12px #466F97;
    z-index: 999;
    color: #EEE;
    font-size: 34px;
    font-family: "Champagne";
    letter-spacing: 2px;
    font-weight: bold;
}

div#sombra, div#sombraBranca {
    display: none;
    background: rgba(0,0,0,.79);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 998;
}

div#sombraBranca {
    background: rgba(255,255,255,.79);    
}

div#ajudaBusca {
    display: none;
    width: 800px;
    background: #252525;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -400px;
    z-index: 999;
    overflow: auto;
    border: 1px solid #444;
}

#ajudaBusca h2 {
    text-align: center;
    color: #EEE;
}

#ajudaBusca h3 {
    background: #333;
    color: #DDD;
    width: 90%;
    padding-left: 2%;
}

#ajudaBusca p {
    color: #AAA;
    padding: 5px 5%;
}

#ajudaBusca span {
    font-weight: bold;
    color: #EEE;
}

form#buscaGeral, form#buscaGeral input {
    width: 403px;
    display: inline-block;
    vertical-align: top;
    height: 106px;
    background: rgba(0,0,0,.25);
    border: none;
    font-size: 25px; 
    font-family: "Champagne";
    color: #FFF;
}

form#buscaGeral input {
    padding: 0 16px;
}

form#formRede, form#formRamal {
    width: 40%;
    position: fixed;
    left: 30%;
    top: 50%;
    z-index: 999;
    margin-top: -128px;
    display: none;
}

#formRede input[type="text"], form#formRamal input[type="text"] {
    display: block;
    width: 100%;
    height: 52px;
    margin-bottom: 7px;
    color: #444;
    padding: 0 12px;
}

#formRede h3, form#formRamal h3 {
    width: 100%;
    text-align: center;
    background: #AAA;
    color: #EEE;
}

input#submitRede {
    width: 80%;
    margin-left: 10%;
    border: none;
    padding: 14px 0;
    background: #56779a;
    color: #FFF;
    font-size: 16px;
}

input#submitRede:hover {
    background: #6788AB;
}

a.botaoRede {
    padding: 16px;
    display: block;
    width: 180px;
    margin: 25px auto;
    color: #FFF;
    background: #434343;
}

a.botaoRede:hover {
    background: #354d67;
}

div#resultadoAcao {
    width: 50%;
    position: fixed;
    font-size: 25px;
    font-family: "Champagne";
    z-index: 999;
    background: #FFF;
    padding: 52px 0;
    top: 50%;
    left: 25%;
    text-align: center;
    border: 1px solid #5fb85e;
    margin-top: -65px;
}

div#preencher {
    width: calc(100% - 897px);
    vertical-align: top;
    display: inline-block;
    height: 106px;
    background: url(../img/fundoTopoInterno.jpg);
}

a#exibirMenu:hover {
    opacity: 1;
}

a#exibirMenu {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url(../img/menu.png) center no-repeat;
    margin: 24px 0 0 24px;
    background-size: 40px;
    opacity: .52;
    overflow: hidden;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

div#menuLeft {
    width: 5%;
    position: fixed;
    height: 100%;
    background: #161616;
    top: 0;
    left: -5%;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

#menuLeft nav a {
    display: block;
    color: #EEE;
    text-align: center;
    font-size: 12px;
    margin: 16px 0;
    opacity: .61;
}

#menuLeft nav a:hover {
    opacity: 1;
}

#menuLeft nav a:before {
    content: "";
    display: block;
    width: 40%;
    height: 30px;
    background: url(../img/home.png) center no-repeat;
    margin: 0 auto 7px;
    background-size: 100%;
}

#menuLeft nav a#menuFeedback:before {
    background: url(../img/feedback.png) center no-repeat;  
    background-size: 100%;  
}

#menuLeft nav a#menuAjuda:before {
    background: url(../img/ajuda.png) center no-repeat;  
    background-size: 100%;  
}

#menuLeft nav a#menuSair:before {
    background: url(../img/logout.png) right no-repeat;
    background-size: 79%;
}

#menuLeft nav a#menuAplicativos:before {
    background: url(../img/app.png) center no-repeat;
    background-size: 100%;
}

#menuLeft nav a#menuPreferencias:before {
    background: url(../img/star.png) center no-repeat;
    background-size: 100%;
}


#menuLeft nav a#menuPortfolio:before {
    background: url(../img/portfolio.png) center no-repeat;
    background-size: 100%;
}

#menuLeft nav a#menuAreas:before {
    background: url(../img/areas.png) center no-repeat;
    background-size: 100%;
}

#menuLeft nav a#fecharMenu {
    font-size: 25px;
    font-family: "Champagne";
    padding: 13px 0 10px;
    width: 100%;
    margin: 16px auto 0;
    background: #711;
    position: absolute;
    bottom: 0;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

#menuLeft nav a#fecharMenu:before {
    display: none;
}

h2, h3 {
    display: block;
    max-width: 1608px;
    margin: 16px auto;
    width: 82%;
    color: #BBB;
    font-size: 52px;
    font-family: "Champagne";
    font-weight: normal;
}

h3 {
    background: #CCC;
    font-size: 34px;
    padding: 13px 0;
    color: #777;
    width: 70%;
}

img#profileBusca {
    height: 60px;
    float: left;
    margin-top: -13px;
    box-sizing: border-box;
    border: 3px solid #CCC;
    margin-right: -60px;
}

div#links {
    width: 70%;
    margin: 43px auto 7px;
}


#links a {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #FFF;
    background: #777;
    color: #FFF;
    padding: 20px 0 18px;
    font-family: "Champagne";
    letter-spacing: 1px;
    font-size: 22px;
}

#links a.selecionado {
    background: #304c6b;
}

div.coluna {
    display: inline-block;
}

.ultimosChamados {
    padding: 12px 0;
    width: 70%;
    margin: 0 auto;
    display: block;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

a.ultimosChamados:hover {
    background: #38506a;
    color: #FFF;
}

div.ultimosChamados.titulo {
    background: #999;
    color: #EEE;
}

.ultimosChamados:nth-child(odd) {
    background: #DDD;
}

div.coluna:nth-child(1) {
    width: 6%;
}

div.coluna:nth-child(2) {
    width: 25%;
}

div.coluna:nth-child(3) {
    width: 67%;
    text-align: left;
}

.coluna1 {
    display: inline-block;
    width: 25%;
}

#dinamico p {
    margin: 25px 0;
    font-size: 20px;
    color: #999;
}

a.abaRecurso {
    width: 14%;
    display: inline-block;
    text-align: center;
    margin-top: 7px;
    background: #AAA;
    padding: 14px 1%;
    box-sizing: border-box;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 20px;
    vertical-align: top;
}

a.abaRecurso.sim {
    background: #449d43;
}

a.abaRecurso.nao {
    background: #999;
    display: none;
}

.abaRecurso span {
    display: block;
    font-size: 16px;
    background: rgba(0,0,0,0.25);
    padding: 12px;
    margin-top: 7px;
    margin-bottom: -3px;
}

a#iniciar.andamento {
    padding: 43px 23px;
    font-size: 20px;
}


div#resultadosBusca {
    display: none;
    background: rgba(0,0,0,.79);
    width: 403px;
    position: absolute;
    right: 106px;
    box-sizing: border-box;
    border: 1px solid #434343;
}

.semResultados {
    text-align: center;
    color: #AAA;
    padding: 20px;
}

.resultadosDinamicos {
    width: 88%;
    padding: 12px 3%;
    background: rgba(255,255,255,.07);
    color: #DDD;
    margin: 7px 0 7px 3%;
    cursor: pointer;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

.resultadosDinamicos:hover {
    background: rgba(109, 148, 189, 0.52);
}


span#inputBuscaGeralBefore {
    width: 0;
    overflow: hidden;
    padding: 43px 0 38px;
    background: rgba(0,0,0,.25);
    display: inline-block;
    margin-left: 0px;
    text-align: center;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

span#inputBuscaGeralBefore.ativo {
    width: 119px;
    display: inline-block;
    margin-left: -124px;
    padding: 43px 0 38px 5px;
    background: rgba(0,0,0,.25);
}


h4 {
    width: 34.9%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #FFF;
    background: #EEE;
    color: #333;
    padding: 0px 0 12px;
    font-family: "Champagne";
    letter-spacing: 1px;
    font-size: 16px;
    vertical-align: top;
    margin-bottom: 7px;
}

h4 span {
    display: block;
    font-size: 22px;
    background: #777;
    color: #FFF;
    padding: 16px 0;
    margin-bottom: 12px;
}

h4 a {
    display: block;
    background: #88a7ca;
    padding: 12px;
    margin: -12px 0;
    color: #FFF;
}

h4 a:hover {
    background: #99b8DB;
}


























::-webkit-input-placeholder {
   color: #CCC;
}

:-moz-placeholder {
   color: #CCC;
}





@keyframes botaoIniciar {
    0% {background: url(../img/fundoBotaoVerde2.jpg);}
    50% {background: url(../img/fundoBotaoVerde.jpg);}
    100% {background: url(../img/fundoBotaoVerde2.jpg);}
}


@keyframes botaoApps {
    0% {background: #1C2D3E;}
    50% {background: #3E4F60;}
    100% {background: #1C2D3E;}
}


@font-face {
    font-family: 'Champagne';
    src: url('../fontes/champagne__limousines-webfont.eot');
    src: url('../fontes/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fontes/champagne__limousines-webfont.woff') format('woff'),
        url('../fontes/champagne__limousines-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}







.spinner {
  margin: 100px auto;
  width: 150px;
  height: 120px;
  text-align: center;
  font-size: 10px;
}

.spinner:after {
    content: "Carregando...";
    color: #999;
    font-size: 22px;
}

.spinner > div {
  background-color: #AAA;
  height: 100%;
  width: 12px;
  display: inline-block;
  margin: 0 5px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}





/* Aplicativos */

main nav {
    width: 80%;
    margin: 25px auto;
    display: block;
}

main nav a {
    display: inline-block;
    width: 24%;
    background: #EEE;
    margin: 7px 0.5%;
    vertical-align: top;
    height: 180px;
    transition: all 0.43s;
    -moz-transition: all 0.43s;
    -o-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

main nav a .imagem {
    background-color: #333;
    width: 100%;
    height: 124px;
    margin-bottom: 20px;
    z-index: 80;
    background-position: center;
    background-size: 100%;
    transition: all 0.43s;
    -moz-transition: all 0.43s;
    -o-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

main nav a:hover {
    color: #FFF;
    background: #000;
    font-size: 20px;
}

main nav a:hover .imagem {
    height: 180px;
    margin-bottom: -95px;
    background-size: 115%;
    opacity: 0.16;
}

main a span {
    z-index: 9999;
    display: block;
    position: relative;
}

a.appList {
    padding: 16px;
    display: block;
    width: 30%;
    margin: 0 auto;
    color: #434343;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
    z-index: 99;
    position: relative;
}

a.appList:nth-child(even) {
    background: #CCC;
}

div.interno {
    margin-top: 16px;
    padding-top: 12px;
    border-top: 1px solid #AAA;
}

span.user {
    display: inline-block;
    width: 90%;
}

span.excluirUser {
    background: rgba(205,70,52,.7);
    padding: 5px 10px;
    color: #FFF;
    display: inline-block;
}

span.excluirUser:hover {
    background: rgba(205,70,52,.52);
}

span.odd {
    background: rgba(0,0,0,.07);
}

span.even, span.odd {
    display: block;
    padding: 16px 0;
}

span.addUser {
    display: block;
    margin-top: 12px;
    padding: 12px;
    background: #354d67;
    color: #FFF;
}

span.addUser:hover {
    background: #465E78;
}

select.selectUser {
    width: 100%;
    padding: 16px;
    color: #434343;
    margin-bottom: 16px;
}

main p {
    font-size: 20px;
    color: #999;
    margin: 52px;
}








/* Preferencias */

a#alterarSenha {
    background: #777;
    color: #FFF;
    padding: 16px 34px;
    display: block;
    width: 7%;
    margin: 52px auto;
}


a#alterarSenha:hover, #formAlterarSenha input[type='submit']:hover {
    background-color: #364e68;
    color: #FFF;
}

#formAlterarSenha {
    padding: 0;
    overflow: hidden;
    height: 0;
    transition: all 0.43s;
    -moz-transition: all 0.43s;
    -o-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

#formAlterarSenha input {
    width: 30%;
    display: block;
    margin: 7px auto;
    padding: 16px;
}

#formAlterarSenha input[type='submit'] {
    background-color: #525252;
    color: #EEE;
    border: none;
    cursor: pointer;
}











div#sombra:after, div#sombraBranca:after {
    content: "X";
    position: fixed;
    z-index: 99999;
    top: 16px;
    right: 16px;
    font-size: 70px;
    color: #777;
    font-family: "Champagne";
    cursor: pointer;
}

div#sombraBranca:after {
    color: #444;
}








/* Portfolio de Negocios */

a.portfolio {
    overflow: hidden;
}


div#grafico {
    background: #777;
    height: 70px;
    width: 70%;
    margin: 43px auto;
}

span#preenchimento {
    height: 70px;
    display: inline-block;
    float: left;
    background: #38506a;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

div#unidades, div#centrosCusto {
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

div#unidades h3, div#centrosCusto h3 {
    width: 100%;
    box-sizing: border-box;
}

div#unidades {
    border-right: 1px solid #FFF;
}

div#centrosCusto {
    border-left: 1px solid #FFF;
}

label {
    display: block;
    text-align: left;
    padding: 7px 0 7px 43px;
}

div#usuariosDatasul, div#usuariosTotal {
    width: 22%;
    display: inline-block;
    font-size: 28px;
    font-family: "Champagne";
    color: #777;
    font-weight: 600;
    vertical-align: top;
    margin: -16px 0 52px;
}

#usuariosDatasul span {
    color: #54789e;
}


small {
    font-size: 25px;
    margin-left: 25px;
    margin-right: -25px;
}

small a:hover {
    color: #43679e;
}












div#menuOculto {
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: -75px;
    height: 75px;
    background: url(../img/fundoTopoInterno.jpg);
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
    left: 0;
}

#menuOculto a:nth-child(1) {
    width: 5%;
    display: inline-block;
    text-align: center;
}

#menuOculto img#logoInterno {
    padding: 16px;
    height: 43px;
}

#menuOculto a#iniciar {
    padding: 25px 25px 24px;
}

#menuOculto a#profile2 {
    height: 75px;
    width: 75px;
}

form#buscaGeralOculto {
    display: inline-block;
    float: right;
}

input#inputBuscaGeral2 {
    vertical-align: top;
    height: 75px;
    border: none;
    background: rgba(0,0,0,0.25);
    padding: 0 25px;
    color: #EEE;
}


#menuOculto a#exibirMenu {
    width: 52px;
    height: 52px;
    margin: 12px 0 0 25px;
    vertical-align: top;
}